@model RegisterViewModel

    <partial name="_ValidationSummary"/>
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form asp-route="Register" method="post">
                        <input type="hidden" asp-for="ReturnUrl"/>

                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off">
                        </div>

                        <button class="btn btn-primary" name="button" value="login">Register</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
